div {
    border: 2px solid midnightblue;
    margin-top: 10px;
    border-radius: 10px;
    padding: 1%;
    background-color: rgb(119, 118, 128)
}

th {
    border: 2px solid midnightblue;
    margin-top: 10px;
    border-radius: 10px;
    text-align: left;
    padding: 1%;
    width: 10%;
}

td {
    border: 2px solid midnightblue;
    margin-top: 10px;
    border-radius: 10px;
    text-align: left;
    padding: 1%;
}

tr {
    border: 2px solid midnightblue;
    margin-top: 10px;
    border-radius: 10px;
    text-align: left;
    padding: 1%;
}

.icon {
    width: 2%;
    height: auto;
    margin-right: 15px;
    vertical-align: middle;
}

#iframe-container {
    display: none;
}

a {
    color: midnightblue;
    font-size: 20px;
}

footer{
    vertical-align: bottom;
    text-align: right;
}